jupyterlab==4.2.5
textacy==0.13.0
spacy==3.8.4
https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.8.0/en_core_web_lg-3.8.0-py3-none-any.whl
PyMuPDF==1.25.3
pandas==2.2.3
numpy==2.2.2
seaborn==0.13.2
